.LoginInner {
    margin: 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginTitle {
    text-align: center;
    padding-bottom: 1rem;
}

.LoginCard {
    margin-top: 10%;
    padding: 10vh 10vh;
    background-color: rgba(0, 255, 255, 0.164);
}